<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CodeQuizDAM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeQuizDAM">
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".JawabanActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".KuisFourActivity"
            android:exported="false" />
        <activity
            android:name=".KuisThreeActivity"
            android:exported="false" />
        <activity
            android:name=".KuisTwoActivity"
            android:exported="false" />
        <activity
            android:name=".KuisOneActivity"
            android:exported="false" />


        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".MateriActivity"
            android:exported="false" />

        <activity
            android:name=".QuizActivity"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>